  <nav class="flex flex-col md:flex-row border border-gray-500 divide-y md:divide-y-0 md:divide-x divide-gray-500 overflow-hidden">
    <a class=" 
             
            min-w-0 
            {% if current_page == 'dashboard' %}bg-gray-200{% else %}bg-white{% endif %}
            py-4 
            px-4 
            {% if current_page == 'dashboard' %}text-blue-600{% endif %}
            hover:text-gray-700 
            font-medium 
            text-center 
            overflow-hidden 
            hover:bg-gray-200 
            focus:z-10 
            focus:outline-hidden 
            cursor-pointer"
      href="{{ url_for('dashboard') }}">
    Overall
  </a>
  <a class=" 
             
            min-w-0 
            {% if current_page == 'age_group' %}bg-gray-200{% else %}bg-white{% endif %}
            py-4 
            px-4 
            {% if current_page == 'age_group' %}text-blue-600{% endif %}
            hover:text-gray-700 
            font-medium 
            text-center 
            overflow-hidden 
            hover:bg-gray-200 
            focus:z-10 
            focus:outline-hidden 
            cursor-pointer"
      href="{{ url_for('choices_by_age_group') }}">
    Age Group
  </a>
  <a class=" 
             
            min-w-0 
            {% if current_page == 'gardening' %}bg-gray-200{% else %}bg-white{% endif %}
            py-4 
            px-4 
            {% if current_page == 'gardening' %}text-blue-600{% endif %}
            hover:text-gray-700 
            font-medium 
            text-center 
            overflow-hidden 
            hover:bg-gray-200 
            focus:z-10 
            focus:outline-hidden 
            cursor-pointer"
      href="{{ url_for('choices_by_gardening') }}">
    Gardening
  </a>
  <a class=" 
            min-w-0 
            {% if current_page == 'bt_model' %}bg-gray-200{% else %}bg-white{% endif %}
            py-4 
            px-4 
            {% if current_page == 'bt_model' %}text-blue-600{% endif %}
            hover:text-gray-700 
            font-medium 
            text-center 
            overflow-hidden 
            hover:bg-gray-200 
            focus:z-10 
            focus:outline-hidden 
            cursor-pointer
            border-r 
            border-gray-500"
      href="{{ url_for('bradley_terry_model') }}">
    Bradley-Terry Model
  </a>
</nav>