{% extends "site_layout.html" %} {% block title %}Analysis Dashboard{% endblock
%} {% block content %}

<div>
  {% include "dashboard/dashboard_nav.html" %}

  <div class="p-4 py-0 bg-gray-100">
    <h1 class="text-4xl py-6 text-center">
      Analysis of Plant Invasiveness vs. Attractiveness
    </h1>
    <div class="flex p-4 gap-4">
      <div
        class="basis-1/2 flex flex-col bg-white border border-gray-200 shadow-2xs rounded-xl"
      >
        <div class="bg-gray-100 border-b border-gray-200 rounded-t-xl py-4 px-4 md:py-4 md:px-5">
          <p class="mt-1 text-2xl text-center text-gray-900">
            Overall proportion of choices by gardening
          </p>
        </div>

        <div class="px-4 pb-2 md:p-5 grid grid-cols-[1fr_2fr_2fr] gap-4">
          <div class="flex items-center text-center text-3xl">
            Gardener
          </div>
          <div class="bg-gray-300 rounded text-center py-6">
            <div class="font-bold mb-6">Invasive Choices</div>
            <div class="flex justify-between lg:px-8 md:px-4">
              <div class="text-3xl text-red-800">{{ data['Invasive_Percentage'][0] ~ '%' }}</div>
              <div class="text-3xl text-red-800">{{ data['Invasive'][0] }}</div>
            </div>
          </div>
          <div class="bg-gray-300 rounded text-center py-6">
            <div class="font-bold mb-6">Non-Invasive Choices</div>
            <div class="flex justify-between lg:px-8 md:px-4">
              <div class="text-3xl text-green-800">{{ data['Non_Invasive_Percentage'][0] ~ '%' }}</div>
              <div class="text-3xl text-green-800">{{ data['Non_Invasive'][0] }}</div>
            </div>
          </div>
        </div>

        <div class="px-4 pb-2 md:p-5 grid grid-cols-[1fr_2fr_2fr] gap-4">
          <div class="flex items-center text-center text-3xl">
            Non-Gardener
          </div>
          <div class="bg-gray-300 rounded text-center py-6">
            <div class="font-bold mb-6">Invasive Choices</div>
            <div class="flex justify-between lg:px-8 md:px-4">
              <div class="text-3xl text-red-800">{{ data['Invasive_Percentage'][1] ~ '%' }}</div>
              <div class="text-3xl text-red-800">{{ data['Invasive'][1] }}</div>
            </div>
          </div>
          <div class="bg-gray-300 rounded text-center py-6">
            <div class="font-bold mb-6">Non-Invasive Choices</div>
            <div class="flex justify-between lg:px-8 md:px-4">
              <div class="text-3xl text-green-800">{{ data['Non_Invasive_Percentage'][1] ~ '%' }}</div>
              <div class="text-3xl text-green-800">{{ data['Non_Invasive'][1] }}</div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="basis-1/2 w-full bg-white border border-gray-200 shadow-2xs rounded-xl"
      >
        {{ div | safe }}
      </div>
    </div>
    <!-- <div class="grid sm:grid-cols-1 gap-2 md:grid-cols-2">
            <div>
                
            </div>
            <div>
                {{ div2 | safe }}
            </div>
        </div> -->
  </div>
</div>

{{ script | safe }} {% endblock %}
