{% extends "site_layout.html" %} {% block title %}Analysis Dashboard{% endblock%} 


{% block content %}

<div class="flex p-4">
  {% include "dashboard/dashboard_nav.html" %}

  <div class="basis-4/5 p-4 py-0">
    <h1 class="text-4xl mb-12">
      Analysis of Plant Invasiveness vs. Attractiveness
    </h1>
    <div class="flex p-4 gap-4">
      <div class="w-full">{{ div | safe }}</div>
    </div>
    <!-- <div class="grid sm:grid-cols-1 gap-2 md:grid-cols-2">
            <div>
                
            </div>
            <div>
                {{ div2 | safe }}
            </div>
        </div> -->
  </div>
</div>

{{ script | safe }} {% endblock %}
