<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='dist/output.css')}}"
    />

    <script src="https://cdn.jsdelivr.net/npm/preline@2.5.0/dist/preline.min.js"></script>

    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-3.7.3.min.js"></script>
    <link
      href="https://cdn.bokeh.org/bokeh/release/bokeh-3.7.3.min.css"
      rel="stylesheet"
    />

    <script src="https://unpkg.com/lucide@latest"></script>
  </head>

  <body>
    <header>
      <nav class="h-[50px] bg-[#D43684] border-gray-800 z-100 px-4 lg:px-6 flex items-center">
        <div class="flex flex-wrap justify-between items-center w-full h-full">
          <a href="{{ url_for('site_home') }}" class="flex items-center">
            <img
              src="{{ url_for('static', filename='img/cclogo.png') }}"
              class="mr-3 h-6 sm:h-9"
              alt="Logo"
            />
            <span
              class="text-white text-xl whitespace-nowrap"
              >GreenMean</span
            >
          </a>
          {%if not session.user|default('') %}
            <div class="flex text-white font-medium lg:order-2 h-full bg-[#A9296A] hover:bg-[#C12F78]">
              <a href="{{ url_for('login') }}" class="rounded-lg px-4 lg:px-5 h-full flex items-center">Login</a>
            </div>
          {% else %}
            <div class="hidden h-full justify-between items-center w-full lg:flex lg:w-auto lg:order-1" id="mobile-menu-2">
              <ul class="flex flex-col h-full mt-4 font-medium lg:flex-row lg:mt-0">
                <li class="inline-flex">
                  <div class="py-2 px-4 inline-flex items-center text-white hover:bg-[#C12F78] cursor-pointer">
                    <a href="{{ url_for('dashboard') }}">Dashboard</a>
                  </div>
                </li>
                <li class="hs-dropdown relative inline-flex">
                  <div id="hs-dropdown-basic" 
                          class="hs-dropdown-toggle py-2 px-4 inline-flex items-center gap-x-2 text-white hover:bg-[#C12F78] cursor-pointer">
                    Site Management
                    <svg class="hs-dropdown-open:rotate-180 w-4 h-4 text-white-600" 
                      xmlns="http://www.w3.org/2000/svg" fill="none" 
                      viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                    </svg>
                  </div>

                  <div class="hs-dropdown-menu transition-[opacity,margin] duration-150 hs-dropdown-open:opacity-100 opacity-0 hidden min-w-[10rem] bg-white shadow-md rounded-lg p-2 mt-2 border border-gray-100">
                    <a class="flex items-center gap-x-2 py-2 px-3 rounded-md text-sm text-gray-700 hover:bg-gray-100"
                       href="{{ url_for('add_plant') }}"
                    >
                      Add Plant
                    </a>
                    <a class="flex items-center gap-x-2 py-2 px-3 rounded-md text-sm text-gray-700 hover:bg-gray-100"
                       href="{{ url_for('list_plants') }}"
                    >
                      Plant List
                    </a>
                  </div>
                </li>
                
                <li class="hs-dropdown relative inline-flex">
                  <div id="hs-dropdown-basic" 
                       class="hs-dropdown-toggle py-2 px-4 inline-flex items-center gap-x-2 text-white hover:bg-[#C12F78] cursor-pointer"
                  >
                    <img src="{{ url_for('static', filename='img/' ~ session.user.avatar) }}" alt="Avatar" class="rounded-full object-cover" width="30" height="30" />
                    <svg class="hs-dropdown-open:rotate-180 w-4 h-4 text-white-600" 
                      xmlns="http://www.w3.org/2000/svg" fill="none" 
                      viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                    </svg>
                  </div>

                  <div class="hs-dropdown-menu transition-[opacity,margin] duration-150 hs-dropdown-open:opacity-100 opacity-0 hidden min-w-[10rem] bg-white shadow-md rounded-lg p-2 mt-2 border border-gray-100">
                    <a class="flex items-center gap-x-2 py-2 px-3 rounded-md text-sm text-gray-700 hover:bg-gray-100" 
                       href="{{ url_for('profile') }}">
                      My Profile
                    </a>
                    <a class="flex items-center gap-x-2 py-2 px-3 rounded-md text-sm text-gray-700 hover:bg-gray-100" 
                       href="{{ url_for('logout') }}" 
                       onclick="confirmLogout(event)"
                    >
                      Logout
                    </a>
                  </div>
                </li>
              </ul>
            </div>
            <script type="text/javascript">
                function confirmLogout(event) {
                    event.preventDefault();
                    if (confirm("Are you sure you want to log out?")) {
                        window.location.href = event.target.href;
                    }
                }
            </script>
          {% endif %}
        </div>
      </nav>
    </header>

    <!-- <nav class="navbar navbar-expand-sm navbar-dark" style="position: fixed; top: 0; width: 100%; z-index: 1000; background-color: #343a40; padding-top: 5px; padding-bottom: 5px">
            <div class="container-fluid">
                <a class="navbar-brand d-flex align-items-center" href="{{ url_for('site_home') }}">
                    <img src="{{ url_for('static', filename='img/cclogo.png') }}" alt="Logo" style="height: 40px" />
                    <span class="ms-2">Green Or Mean</span>
                </a>

                <ul class="navbar-nav align-items-center ml-auto">
                    <li class="nav-item">
                        <a class="nav-link {% if session.active_page == 'site_home' %}active{% endif %}" href="{{ url_for('site_home') }}">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle {% if session.active_page in ['list_image_variations'] %}active{% endif %}" href="#" role="button" data-bs-toggle="dropdown">
                            Misc Links
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                <a class="dropdown-item {% if session.active_page == 'list_image_variations' %}active{% endif %}" href="{{ url_for('list_image_variations') }}">Image Variation</a>
                            </li>
                        </ul>
                    </li>
                    {%if not session.user|default('') %}
                    <li class="nav-item">
                        <a class="nav-link {% if session.active_page == 'login' %}active{% endif %}" href="{{ url_for('login') }}">Login</a>
                    </li>
                    {% else %}

                    {% if session.user.role == 'siteadmin' %}

                    <li class="nav-item">
                        <a class="nav-link {% if session.active_page == 'dashboard' %}active{% endif %}" href="{{ url_for('dashboard') }}">Dashboard</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle {% if session.active_page in ['add_plant', 'list_plants'] %}active{% endif %}" href="#" role="button" data-bs-toggle="dropdown">
                            Site Management
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                <a class="dropdown-item {% if session.active_page == 'add_plant' %}active{% endif %}" href="{{ url_for('add_plant') }}">Add Plants</a>
                            </li>
                            <li>
                                <a class="dropdown-item {% if session.active_page == 'list_plants' %}active{% endif %}" href="{{ url_for('list_plants') }}">Plant List</a>
                            </li>
                        </ul>
                    </li>
                    {% endif %}

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                            <img src="{{ url_for('static', filename='img/' ~ session.user.avatar) }}" alt="Avatar" class="rounded-circle" width="40" height="40" />
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                <a class="dropdown-item {% if session.active_page == 'user_profile' %}active{% endif %}" href="{{ url_for('profile') }}">User Profile</a>
                            </li>
                            <hr />
                            <li>
                                <a class="dropdown-item" href="{{ url_for('logout') }}" onclick="confirmLogout(event)">Log Out</a>
                            </li>
                        </ul>
                    </li>
                    <script type="text/javascript">
                        function confirmLogout(event) {
                            event.preventDefault();
                            if (confirm("Are you sure you want to log out?")) {
                                window.location.href = event.target.href;
                            }
                        }
                    </script>
                    {%endif%}
                </ul>
            </div>
        </nav> -->

    <!-- <div style="height: 60px"></div> -->

    <main class="min-h-[calc(100vh-100px)]"
    >
      {% block content %}{% endblock %}
    </main>

    <footer
      class="h-[50px] bg-blue-400 text-center py-3 flex items-center justify-center"
    >
      <img
        src="{{ url_for('static', filename='img/grouplogo.jpg') }}"
        alt="Footer Image"
        class="img-fluid me-2"
        style="max-height: 30px"
      />
      <p class="mb-0">COMP693_25S2_project</p>
    </footer>

    {% block scripts %}
      <script src="https://unpkg.com/just-validate@latest/dist/just-validate.production.min.js"></script>
    {% endblock %}
  </body>
</html>
