{% extends "site_layout.html" %}
{% block title %}Survey Final Question{% endblock %}

{% block content %}
<div class="w-full px-6 md:w-2/3 lg:w-1/2 pt-4 md:pt-12 mx-auto">
    <div class="px-6 py-6 mb-4 border border-gray-200 rounded-2xl bg-light rounded-3 shadow-xl">
        <h2 class="text-xl font-bold text-gray-700 text-center">Final Question</h2>
        <p class="text-lg mt-6">What characteristics most influenced your choice of plant?</p>

        <form method="POST" action="{{ url_for('survey_questionnaire') }}">
            <div class="mt-4">
                <div class="mb-3">
                    <label
                        for="reasonDominantFlowerColour"
                        class="flex items-center gap-3 p-3 mb-3 border border-gray-300 rounded-xl cursor-pointer hover:bg-blue-200 transition"
                    >
                        <input 
                            class="mt-0.5 border-gray-200 rounded-full text-blue-600 focus:ring-blue-500 checked:border-blue-500" 
                            type="radio" 
                            name="reasoning" 
                            value="Dominant Flower Colour"
                            id="reasonDominantFlowerColour" 
                            required
                        >
                        <span class="text-gray-900">The dominant flower colour (e.g. red, blue, white etc.)</span>
                    </label>
                </div>

                <div class="mb-3">
                    <label
                        for="reasonContrastingColours"
                        class="flex items-center gap-3 p-3 mb-3 border border-gray-300 rounded-xl cursor-pointer hover:bg-blue-200 transition"
                    >
                        <input 
                            class="mt-0.5 border-gray-200 rounded-full text-blue-600 focus:ring-blue-500 checked:border-blue-500" 
                            type="radio" 
                            name="reasoning" 
                            value="Contrasting Colours"
                            id="reasonContrastingColours" 
                            required
                        >
                        <span class="text-gray-900">Contrasting colours in the flower (e.g. green and yellow, blue and white etc.)</span>
                    </label>
                </div>

                <div class="mb-3">
                    <label
                        for="reasonFlowerShape"
                        class="flex items-center gap-3 p-3 mb-3 border border-gray-300 rounded-xl cursor-pointer hover:bg-blue-200 transition"
                    >
                        <input 
                            class="mt-0.5 border-gray-200 rounded-full text-blue-600 focus:ring-blue-500 checked:border-blue-500" 
                            type="radio" 
                            name="reasoning"
                            value="Flower Shape"
                            id="reasonFlowerShape" 
                            required
                        >
                        <span class="text-gray-900">Flower shape (e.g. round, heart-shaped etc.)</span>
                    </label>
                </div>

                <div class="mb-3">
                    <label
                        for="reasonFamiliarity"
                        class="flex items-center gap-3 p-3 mb-3 border border-gray-300 rounded-xl cursor-pointer hover:bg-blue-200 transition"
                    >
                        <input 
                            class="mt-0.5 border-gray-200 rounded-full text-blue-600 focus:ring-blue-500 checked:border-blue-500" 
                            type="radio"
                            name="reasoning"
                            value="Familiarity"
                            id="reasonFamiliarity"
                            required
                        >
                        <span class="text-gray-900">It was a plant that was familiar to you</span>
                    </label>
                </div>

                <div class="mb-3">
                    <label
                        for="reasonDifference"
                        class="flex items-center gap-3 p-3 mb-3 border border-gray-300 rounded-xl cursor-pointer hover:bg-blue-200 transition"
                    >
                        <input 
                            class="mt-0.5 border-gray-200 rounded-full text-blue-600 focus:ring-blue-500 checked:border-blue-500" 
                            type="radio" 
                            name="reasoning"
                            value="Different From Most Plant You Know"
                            id="reasonDifference"
                            required
                        >
                        <span class="text-gray-900">It was a plant that looked different from most plants you know</span>
                    </label>
                </div>
            </div>

            <div class="text-center mt-5">
                <button 
                    type="submit" 
                    class="py-2 px-4 inline-flex items-center gap-x-2 text-md cursor-pointer font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700"
                >Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}